<div class="container h-100">
  <div class="row  align-items-center h-100 login ">
    <div class="card mx-auto">

      <h5 class="card-header info-color white-text text-center py-4">
        CONFIRMAR ASISTENCIA
      </h5>

      <!--Card content-->
      <div class="card-body">

        <!-- Form -->

        <%= form_tag({controller: "guests", action: "create", method: "post"}, class: "text-center", style: "color: #757575;") do %>

          <p>Ingresa tu direccion de correo electrónico para confirmar tu asistencia</p>

          <div class="md-form">
            <label for="guestEmail" class="sr-only">Email</label>
            <input
              type="email"
              id="guestEmail"
              name="guest_email"
              class="form-control"
              placeholder="Email"
              style="outline: 0; border-width: 0 0 1px; box-shadow: none; border-radius: 0 !important"
              required autofocus>
          </div>

          <%= submit_tag 'ENTRAR', class: 'btn btn-outline-info btn-rounded z-depth-0 my-4 waves-effect' %>

        <% end %>
        <!-- Form -->

      </div>

    </div>
  </div>
</div>